openapi: 3.0.0
info:
  title: Avolve API
  version: '1.0.0'
  description: |
    API documentation for the Avolve platform, focusing on journey management,
    token systems, and community features.

servers:
  - url: https://api.avolve.network/v1
    description: Production server
  - url: http://localhost:3000/api
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    JourneyPost:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        content:
          type: string
        journeyType:
          type: string
          enum: [superachiever, superachievers, supercivilization]
        tokenFee:
          type: number
        tokenRewards:
          type: object
          properties:
            GEN:
              type: number
            SAP:
              type: number
        engagementScore:
          type: number
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TokenTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        tokenType:
          type: string
          enum: [GEN, SAP, PSP, BSP, SMS, SCQ, SPD, SHE, SSA, SGB]
        amount:
          type: number
        type:
          type: string
          enum: [reward, fee, transfer, stake]
        createdAt:
          type: string
          format: date-time

paths:
  /journey/posts:
    get:
      summary: List journey posts
      security:
        - bearerAuth: []
      parameters:
        - name: journeyType
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of journey posts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JourneyPost'

    post:
      summary: Create a journey post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
                - journeyType
                - tokenFee
              properties:
                content:
                  type: string
                journeyType:
                  type: string
                tokenFee:
                  type: number
      responses:
        '201':
          description: Journey post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JourneyPost'

  /tokens/transactions:
    get:
      summary: List token transactions
      security:
        - bearerAuth: []
      parameters:
        - name: tokenType
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of token transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TokenTransaction'

  /tokens/analytics:
    get:
      summary: Get token analytics
      security:
        - bearerAuth: []
      parameters:
        - name: tokenType
          in: query
          required: true
          schema:
            type: string
        - name: timeWindow
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
      responses:
        '200':
          description: Token analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  velocity:
                    type: number
                  distribution:
                    type: object
                  burnRate:
                    type: number
                  totalHolders:
                    type: integer
